.flex{
    display: flex;
}

.flex1{
    display: flex;
    justify-content: space-around;
}

.flex2{
    display: flex;
    justify-content: center;
}
.flex3{
    display: flex;
    
}
.flex4{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex6{
    display: flex;
    justify-content: center;
    align-items: center;
}