body{
    font-family: "Protest Strike", sans-serif;
    margin: 0;
    padding: 0;
}

.menu{
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: large;
    margin-right: 10%;
    margin-left: 10%;
}

a {
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

.etoile{
    width: 15%;
}

.texteAccueilh1 {
    text-align: center;
    font-size: 170%; 
    margin-right: 18%;
    margin-left: 18%;
    font-weight: 700; 
    color: black; 




.a{
    text-decoration: none;
    color: black;
    border-color: black;
}

.formCreate {
    justify-content: space-evenly;
    height: 400px;
    padding: auto;
    margin: auto;
}

.formCreate input{
    justify-content: space-evenly;
    height: 25px;
    padding: 0px;
    margin: 0px;
}

.etoile{
    width: 25px;
    height: 25px;
}
}

.titre{
    position: absolute;
    top: 56%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.textInfoAc{
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
    font-weight:400;
}

.textOnImage{
    position: absolute;
    top: 56%;
    left: 65%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 2px;
    padding-right: 60px;
    padding-left: 60px;
}

.textOnImageTitre{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: aliceblue;
    font-size: 100px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textOnImage1{
    color: black;
    font-size: 24px; 
    font-weight: bold;
}

.textOnImage2{
    color: black; 
    font-size: 18px;
}

form {
    margin-top: 20px;
    background-color: #fff; /* Couleur de fond du formulaire */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre */
}

/* Style pour le champ de sélection */
select, input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style pour le bouton */
button {
    background-color: #B6C986; /* Couleur de fond du bouton */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transition fluide pour l'effet */
}

button:hover {
    background-color: #8FA362; /* Couleur de fond plus forte au survol */
}

/* Style pour le conteneur des avis */
.flex.etoile {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly
}

/* Style pour les étoiles */
.etoile {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style pour les avis */
.flex.etoile h3 {
    font-size: 16px;
    text-transform: none;
    margin-left: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}

.avis{
    margin-right: 18px;
}

.marginE{
    margin-left: -20%;
}