.navBar{
    height: 130px;
    width: 100% ;
    position: sticky;
    top: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
}
.footer{
    width: 100%;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
}
main{
    height: 800px;
}
body{
    padding: auto;
    margin: auto;
}

.a:link, .a:visited{
    list-style-type: none;
    text-align: center;
    align-items: center;
    margin: 50px 0px 0px 0px;
    background-color: #7ea367;
    height: 30px;
    width: 250px ;
    padding-top: 2px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    align-items: center;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.a:hover,.a:active{
    background-color: #579730;
}
.divGaucheIntro{
    width: 50%;
    height: 1000px;
    background-color: white;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.divLoginIntro{
    display: block;
    height: 100%;
    align-items: center;
    text-align: center;
}
.divLoginIntro input{
    width: 360px;
    height: 38px;
    
}
.divInscription{
    width: 30%;
    height: 65%;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.imgTitre{
    flex-wrap: wrap;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    position: relative;
    top: 15%;
}
.divCompte  {
    width:462px;
    height:500px;
    margin: auto;
    background-color:white;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.divCritere{
    width:462px;
    height:500px;
    margin: auto;
    background-color:white;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.divProgramme{
    width: 747px;
    height:500px;
    margin: auto;
    background-color:white;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}

.divCreerProgram{
    width:462px;
    height:500px;
    margin: auto;
    background-color:white;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.divAvisIntro{
    width: 50%;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.divAvis{
    width:462px;
    height:500px;
    margin: auto;
    background-color:white;
    border-radius: 50px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.1);
}
.divAvis h1{
    font-size: 30px;
    padding-top: 25px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.imgLogo{
    top: 10%;
    width: 250px;
    align-items: center;
    padding-top: 10px;
}
.imgFondIntro{
    top: 10%;
    width: 100%;
    height: 100%;
    align-items: center;
}
.divImgFond{
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
}
.divImgFond2{
    background-image: url('/img/salle.jpg');
    background-repeat: no-repeat;
}
.divImgFond3{
    background-image: url('/img/salle.jpg');
    background-repeat: no-repeat;
    height: 800px;
}
.input{
    border-radius: 50px;
    width: 200px;
    height: 400px;
    margin-top: 12px;
    padding-left: 10px;
}
.linkLogin{
    list-style-type: none;
    background-color: white;
    color: black;
}
.form{
    width: 462px;
    height: 500px;
    overflow: hidden;
}
.fieldsetIMC{
    border: none;
    padding: 10px;
    flex-flow: column;
    display: flex;
}
.fieldsetInscription{
    border: none;
    padding: 10px;
    flex-flow: column;
    display: flex;
}
.fieldsetAvis{
    display: flex;
    border: none;
    
}
fieldset div{
  flex-flow: column;
  margin: 20px;
}
legend{
    font-size: x-large;
}
fieldset input{
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
}
.formCreate {
    justify-content: space-evenly;
    height: 400px;
    padding: 50px;
    margin: auto;
    border-width: 0px;
    font-size: large;
}
.formCreate input{
    justify-content: space-evenly;
    height: 25px;
    padding: 0px;
    margin: 0px;
}
.formCreate button{
    background: #7ea367;
  opacity: 0.6;
  width: 100%;
  height: 40px;
  font-size: 14px;
  text-transform :uppercase ;
  color:white;
  cursor: pointer;
  outline :none;
  border-radius: 50px;
  border: none;
  padding :0;
  margin-top :20px;
  transition : opacity 0.5s ease;
  
}
.button:hover,.button:active{
    background-color: #579730;
}
.buttonLogin{
    background: #579730;
  opacity: 0.6;
  width: 150px;
  height: 40px;
  font-size: 14px;
  text-transform :uppercase ;
  color:white;
  cursor: pointer;
  outline :none;
  border-radius: 50px;
  border: none;
  padding :0;
  margin-top :20px;
  transition : opacity 0.5s ease;
}
.buttonAvis{
    background: #579730;
  opacity: 0.6;
  width: 150px;
  height: 40px;
  font-size: 14px;
  text-transform :uppercase ;
  color:white;
  cursor: pointer;
  outline :none;
  border-radius: 50px;
  border: none;
  padding :0;
  transition : opacity 0.5s ease;
}
.legendAvis{
    text-transform :uppercase ;
    font-size: large;
    font-style: bold;
}
.legendInscription{
    text-align: center;
    font-size: 15px;
}


.etoile{
    width: 25px;
    height: 25px;
}
/* Commentaire étoilé */
  /* .fa-star {
	color: gray;
	cursor: pointer;
	padding: 0.0625rem;
}

.fa-star.gold {
	color: #ffdc0f;
}
.rating {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.stars {
		display: inline-flex;
		justify-content: center;
		font-size: 3em;
}
.stars:hover .fa-star {
	color: #ffdc0f;
}

.stars .fa-star:hover ~ .fa-star {
		color: gray;
}


html { margin-top: 2em; text-align: center; font-family: 'Droid Sans', sans-serif; font-size: 1.4rem; }
a { color: crimson; font-weight: 600; transition: all 0.8s cubic-bezier(.14,1.36,.5,.88); display: inline-block; }
a:hover { transform: scale(1.3) 
}